@model RecipeGenerator.Models.Message
@using RecipeGenerator.Constant

@if (!Model.content.Equals(Schema.NOERROR) )
{
    <div class="row mb-2">
        <div class="col-md-12">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Recipe</strong>

                    <div class="card-text mb-auto newline-text">@Model.content</div>

                </div>

            </div>
        </div>
    </div>
}

